@import url('https://fonts.googleapis.com/css2?family="lora"&display=swap');
@import url('https://fonts.googleapis.com/css2?family="poppins":wght@300&display=swap');    


body{
    /* background-color: rgba(51,51,51,.6); */
}
p{
    color: #999;
    font-family: "lora",serif;
    font-weight: 400;
}
h1 h2 h3 h4 h5{
    font-family: "poppins",sans-serif;
}
.main_wrap{
    background-image: linear-gradient(rgba(51,51,51,.6), rgba(51,51,51,.6)),url("../images/background.jpg");
    background-color: black;
    height: 100vh!important;
    /* position: relative; */
    margin-top: -100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: brightness(50%) */
    /* opacity: 0.88; */
}
header{
    height: max-content;
    position: fixed;
    z-index: 100;
}
.header_background{
    background-color: white;
    color: black;
}
.logo{
    margin-top: 32px;
}
.nav_bar{
    /* line-height: 100px; */
    margin-top:45px;
    float: right;
}
.nav_bar ul{
    display: flex;
    justify-content: end;
    list-style: none;
    font-family: "poppins",sans-serif;
}
.on_scrolling{
    background-color: #fff;
    padding-bottom: 20px;
}
.on_scrolling .nav_bar ul li a{
    color: black;
    font-family: "poppins",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    padding-left: 26px;
}
.nav_bar ul li{

}
.nav_bar ul li a{
    font-family: "poppins",sans-serif;
   display: block;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
    padding-left: 26px;
}
.nav_bar a:hover{
    color: #f5af00;
}
.mid_content{
    text-align: center;
    line-height: 80px;
    padding-top: 180px;
    padding-bottom: 80px;
    color: #fff;
    margin-top: 100px !important;
    /* margin-bottom: 300px !important; */
}
.mid_content h1{
    font-size: 70px;
    font-family: "poppins",sans-serif;
}
.mid_content p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}
.mid_content button{
    font-family: "poppins",sans-serif;;
    font-weight: 400;
    background-color: #f5af00;
    width: 170px;
    height: 50px;
    line-height: 50px !important;
    border-radius: 50px !important;
    font-size: 12px !important;
    color: #fff;
    border: 2px solid #f5af00;
}
.mid_content button:hover{
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
}   
.services{
    padding-bottom: 100px;
}
.our_services{
    text-align: center;
    padding-top: 100px;
    margin-bottom: 70px;
}
.our_services h1{
    text-align: center;
    font-family: "poppins",sans-serif;
    color: #222;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 27px;
}
.our_services p{
    margin-left: 25%;
    margin-right: 25%;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.service_items{
    text-align: center;
}
.service_items h3{
    font-family: "poppins",sans-serif;
    color: #333;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 13px;
    text-transform: capitalize;
}
.service_items p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: #999;
}
.service_items i{
    color: #f5af00;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 34px;
}
.features{
    background-color: #f8f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
}
.work_content{
    text-align: center;
}
.work_content h1{
    text-align: center;
    font-family: "poppins",sans-serif;
    color: #222;
    font-size: 36px;
    margin-bottom: 25px;
}
.work_content p{
    color: #999;
    margin: 0% 25% 0% 25%;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 26px;
}
.work_content ul li{
   padding-bottom: 30px;
    list-style: none;
    display: inline-block;
}
.work_content ul li a{
    color: #999;
    text-decoration: none;
    list-style: none;
}
.work_content a:hover{
    color: #f5af00;
}
.work_item img{
    /* padding-right: 10px; */
    /* background-color: #f5af00; */
    /* margin: 10px; */
    z-index: 1;
}
.work_item {
    background-color: #f5af00;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;

    /* z-index: -1; */
}
.work_item:hover .image{
    transform: scale(1.1);
    opacity: 0.1;
    transition: 0.7s;
}
.work_item:hover i{
    color: #fff;
    font-size: 32px;
}
.work_item:hover .text{
    color: #fff;
    text-decoration: none;
}

.middle{
    color: #fff;
    transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.middle a{
    /* color: #fff; */
    text-decoration: none;
}
.text{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.middle .text:hover{
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
.middle a:hover{
    /* text-decoration: none; */
    color: black ;
}
.work_item:hover .middle {
    text-decoration: none;
    color: #fff;
	opacity: 1;
  }
  .work_item:hover a:hover{
      color: black;
  }
  .text {
    text-decoration: none;
    z-index: -1;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
	/* font-size: 16px; */
	/* padding: 16px 32px; */
  }

.progress_wrap{
    background-color: #fff;
    padding: 50px 0px;
}
.progress{
    height: 6px !important;
}
.progress_content{
    padding-top: 50px;
    padding-left: 50px;
}
.progress_content h1{
    color: #222;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 27px;
    font-weight: 400;
}
.progress_content p{
    font-size: 16px;
    line-height: 26px;
}
.progress{
    background-color: black;
}
label{
    color: #333;
    font-family: '"poppins"', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.bar{
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 17px;
    line-height: 1;
    padding-bottom: 20px;
}
#value{
    float: right;
}
.ad-wrap{
    width: 100%;
    background-color: #f5af00;
    display: inline-flex;
    padding: 75px 0px;
    font-weight: 400;
}
.ad-wrap button{
    float: right;
    font-family: "poppins",sans-serif;;
    font-weight: 400;
    background-color: #f5af00;
    width: 170px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px !important;
    font-size: 12px !important;
    color: #fff;
    border: 1.5px solid #fff;
}
.ad-wrap button:hover{
    background-color: #fff;
    color: #f5af00;
}
.ad-wrap h2{
    float: left;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}
.client_wrap{
    background-color: #f9f9f9;
    padding-bottom: 75px;
}
.head_content{
    padding: 75px 0px;
    text-align: center;
    width: 100%;
}
.head_content h2{
    line-height: 50px;
    color: #222;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 27px;
}
.head_content p{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 16px;
    line-height: 26px;
}
.client_item img{
    position: absolute;
    border-radius: 50px;
    height: 80px;
}
.client_item p{
    position: relative;
    font-size: 20px;
    line-height: 35px;
    font-style: italic;
    margin-bottom: 29px;
    font-family: "lora",serif;
    padding-left: 100px;
    margin-bottom: 30px;
}
.client_item h3{
    font-size: 14px;
    font-weight: 700;
    padding-left: 120px;
}
.contact{
    padding: 75px 0px;
    text-align: center;
}
.contact_item i{
    font-size: 55px;
    color: #f5af00;
    line-height: 1;
    margin-bottom: 30px;
    display: block;
}
.contact_item h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
}
.contact_item p{
    margin-left: 18%; 
    margin-right: 18%;
}
.footer{
    height: 40px;
    border-top: 1px solid #e5e5e5;
}
.footer p{
    padding-top: 30px;
}
.footer ul{
    margin-top: -40px;
    color: #999;
    float: right;

}
.footer ul li{
    color: #999;
    list-style: none;
    display: inline;
    padding-left: 20px;
    margin-bottom: -30px;
}
.footer a{
    color: #999;
}
.footer a:hover{
    color: #f5af00;
}


